*{
    padding: 0;
    margin: 0;
    border: 0;
	}
div{
	box-sizing:border-box;
	
}
body {
	
    font-weight:200;
    font-family: 'Teko', sans-serif;
    color: #f0fefe;
    width: 100%;
    height: 100%;
    font-size:calc(3vw - 0.2rem);
	line-height: 1.2;
	background-color: #6783a4;
 }
.container{
	display: flex;
	flex-direction: row;
	justify-content: stretch;
	align-items: : stretch;

		
}
.cell{

	width: 20vw;
	border: 0.3vw #6f8cae solid;
	padding-top: 1.3vw;
	padding-right: 3vw;
	padding-bottom:0.7vw;
	padding-left:2vw;
	
	
}
.small-font-size{
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	font-size: 55%;
}
.block{
	background-color: #a2edf2;
	width: 2vw;
	height: 0.8vw;
}


.bluecolor{
	color: #a2edf2;
}

.colorblock{
	background-color: #98b5d3;
}

.big-font-size{
	font-size: 300%;
}
.middle-font-size{
	font-size: 280%;
}
.cell-2{
	width: 25vw;
	border: 0.3vw #6f8cae solid;
	padding: 2vw 3vw 0.7vw 2vw;

}
.cell-2-2{
	width: 25vw;
	border: 0.3vw #6f8cae solid;
	padding: 0;
}

.space-between{
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	width: 15vw;
}
.font-opacity{
	opacity: 0.7;
}

.cell3{
	display: flex;
	width: 100vw;
	height: 10vw;
	border: 0.3vw #6f8cae solid;
	justify-content: space-between;

}
.cell3-1{
	width: 30vw;
	padding: 1vw 2vw 3vw;
	
}
.zero{
	font-size: 7vw;
	font-weight: 3vw;
	color: #c8eef1;
}

.alarms{
	position: absolute;
	padding: 2vw 2vw 3vw;
	color: #c8eef1;
}
.cell3-2{
	align-self: center;

}
.size{
	font-size:5vw; 
}
.cell-4{
	width: 50vw;

}
.box{
	border:  0.3vw #6f8cae solid;
	display: flex;
	flex-direction: row;	
}
.box2{
	border:  0.3vw #6f8cae solid;
}
.next-los{
	align-self: stretch;
	width: 30vw;
	padding: 1vw 7vw 2vw 1vw;
}
.padding{
	padding-top: 1vw;
}
.box-right{
	border:  0.3vw #6f8cae solid;
display: flex;
	flex-direction: row;}
.half-of-colon{
	display: flex;
	flex-direction: row;
	padding: 1vw 3vw 2vw 1vw;

}
.next-deorbit{
	padding-right: 6vw;
}